*.jpeg
*.jpg
*.png
temp.py
.env
.env.*
output.pdf
# Ignore crash dumps
bash.exe.stackdump
# Ignore uploads and binaries
back_utils/uploads/
# Ignore node_modules everywhere
node_modules/
# Ignore lock files
package-lock.json

.DS_Store

__pycache__/