@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

body {
  font-family: 'Poppins', sans-serif;
}

/* Leaflet base container */
.leaflet-container {
  z-index: 0 !important;
}

/* Leaflet tile layers */
.leaflet-pane,
.leaflet-tile,
.leaflet-overlay-pane,
.leaflet-shadow-pane,
.leaflet-marker-pane,
.leaflet-tooltip-pane,
.leaflet-popup-pane {
  z-index: 0 !important;
}

/* Leaflet controls (e.g., zoom buttons) */
.leaflet-control-container {
  z-index: 0 !important;
}
